services:
    app:
        build:
            context: .
        volumes:
            - .:/app
        ports:
            - ${APP_PORT:-80}:8000
        networks:
            - fiap
    db:
        image: mysql/mysql-server:8.0
        ports:
            - ${DB_PORT:-3306}:3306
        environment:
            MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
            MYSQL_ROOT_HOST: "%"
            MYSQL_DATABASE: "${DB_DATABASE}"
            MYSQL_USER: "${DB_USERNAME}"
            MYSQL_PASSWORD: "${DB_PASSWORD}"
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - db-data:/var/lib/mysql
        networks:
            - fiap
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}"]
            retries: 3
            timeout: 5s

networks:
    fiap:

volumes:
    db-data:
        driver: local
