openapi: 3.0.3
info:
  title: 'API - Sistema de Pontos'
  description: 'API para o sistema de pontos.'
  version: 1.0.0
servers:
  -
    url: 'https://keiqbj3hbxvoifpl7jcg5jfsxm0hfbni.lambda-url.sa-east-1.on.aws'
paths:
  /api/login:
    post:
      summary: 'Criar token.'
      operationId: criarToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'O email do usuário.'
                  example: effertz.nicolas@example.org
                password:
                  type: string
                  description: 'A senha do usuário (em plaintext para autenticar)'
                  example: '0t9m0_8H^mYj}M#P;VTx'
              required:
                - email
                - password
      security: []
  /api/logout:
    delete:
      summary: 'Revoga o token atual.'
      operationId: revogaOTokenAtual
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
  /api/user:
    get:
      summary: 'Ver usuário atual.'
      operationId: verUsurioAtual
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 27
                    name: 'Domenico Borer'
                    email: zrunolfsson@example.net
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 27
                      name:
                        type: string
                        example: 'Domenico Borer'
                      email:
                        type: string
                        example: zrunolfsson@example.net
      tags:
        - Endpoints
  /api/time-entries:
    get:
      summary: 'Lista os pontos do usuário atual.'
      operationId: listaOsPontosDoUsurioAtual
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 25
                      started_at: '2024-03-24T21:47:10.000000Z'
                      ended_at: null
                    -
                      id: 26
                      started_at: '2024-03-24T21:32:45.000000Z'
                      ended_at: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 25
                        started_at: '2024-03-24T21:47:10.000000Z'
                        ended_at: null
                      -
                        id: 26
                        started_at: '2024-03-24T21:32:45.000000Z'
                        ended_at: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 25
                        started_at:
                          type: string
                          example: '2024-03-24T21:47:10.000000Z'
                        ended_at:
                          type: string
                          example: null
      tags:
        - Endpoints
    post:
      summary: 'Registra um novo ponto.'
      operationId: registraUmNovoPonto
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 27
                    started_at: '2024-03-24T22:05:46.000000Z'
                    ended_at: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 27
                      started_at:
                        type: string
                        example: '2024-03-24T22:05:46.000000Z'
                      ended_at:
                        type: string
                        example: null
      tags:
        - Endpoints
  '/api/time-entries/{entry_id}':
    put:
      summary: 'Atualiza um ponto (marca como finalizado).'
      operationId: atualizaUmPontomarcaComoFinalizado
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 28
                    started_at: '2024-03-24T21:25:18.000000Z'
                    ended_at: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 28
                      started_at:
                        type: string
                        example: '2024-03-24T21:25:18.000000Z'
                      ended_at:
                        type: string
                        example: null
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: entry_id
        description: 'The ID of the entry.'
        example: 1
        required: true
        schema:
          type: integer
  /api/reports:
    post:
      summary: 'Gera um relatório do mês referência e envia para o usuário por email.'
      operationId: geraUmRelatrioDoMsRefernciaEEnviaParaOUsurioPorEmail
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                referecen:
                  type: date
                  description: 'A data de referencia (o relatório será gerado para o mês todo).'
                  example: magnam
tags:
  -
    name: Endpoints
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
