openapi: 3.0.3
info:
  title: 'API - Sistema de Pontos'
  description: 'API para o sistema de pontos.'
  version: 1.0.0
servers:
  -
    url: 'http://localhost'
paths:
  /api/login:
    post:
      summary: 'Criar token.'
      operationId: criarToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: immanuel93@example.org
                password:
                  type: string
                  description: ''
                  example: et
              required:
                - email
                - password
      security: []
  /api/logout:
    delete:
      summary: 'Revoga o token atual.'
      operationId: revogaOTokenAtual
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
  /api/user:
    get:
      summary: 'Ver usuário atual.'
      operationId: verUsurioAtual
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 7
                    name: 'Janae Kuphal Jr.'
                    email: diego01@example.com
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 7
                      name:
                        type: string
                        example: 'Janae Kuphal Jr.'
                      email:
                        type: string
                        example: diego01@example.com
      tags:
        - Endpoints
  /api/time-entries:
    get:
      summary: 'Lista os pontos do usuário atual.'
      operationId: listaOsPontosDoUsurioAtual
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 6
                      started_at: '2024-03-20T02:22:48.000000Z'
                      ended_at: null
                    -
                      id: 7
                      started_at: '2024-03-20T02:32:13.000000Z'
                      ended_at: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 6
                        started_at: '2024-03-20T02:22:48.000000Z'
                        ended_at: null
                      -
                        id: 7
                        started_at: '2024-03-20T02:32:13.000000Z'
                        ended_at: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 6
                        started_at:
                          type: string
                          example: '2024-03-20T02:22:48.000000Z'
                        ended_at:
                          type: string
                          example: null
      tags:
        - Endpoints
    post:
      summary: 'Registra um novo ponto.'
      operationId: registraUmNovoPonto
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 8
                    started_at: '2024-03-20T02:28:38.000000Z'
                    ended_at: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 8
                      started_at:
                        type: string
                        example: '2024-03-20T02:28:38.000000Z'
                      ended_at:
                        type: string
                        example: null
      tags:
        - Endpoints
  '/api/time-entries/{entry_id}':
    put:
      summary: 'Atualiza um ponto (marca como finalizado).'
      operationId: atualizaUmPontomarcaComoFinalizado
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 9
                    started_at: '2024-03-20T02:23:31.000000Z'
                    ended_at: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 9
                      started_at:
                        type: string
                        example: '2024-03-20T02:23:31.000000Z'
                      ended_at:
                        type: string
                        example: null
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: entry_id
        description: 'The ID of the entry.'
        example: 5
        required: true
        schema:
          type: integer
  /api/reports:
    post:
      summary: ''
      operationId: postApiReports
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reference:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-03-20T02:49:42'
tags:
  -
    name: Endpoints
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
